.logo {
  height: 50px;
}
.nav-link {
  color: #a2a7af !important;
}

.banner {
  object-fit: cover;
  height: 100%;
  width: 100%;
  background: url(Images/truck.png) no-repeat;
  background-size: 100%;
}
.subhead {
  font-weight: 700;
  font-size: 50px;
}
.subbanner {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.bb {
  display: flex;
  align-items: center;
}
.button1 {
  box-sizing: border-box;
  background-color: transparent;
  color: white;
  font-weight: 700;
  font-size: 18px;

  width: 240px;
  height: 60px;
  margin-left: 10px;

  border: 1px solid #ffffff;
  border-radius: 6px;
  margin-bottom: 200px;
}
.button1:hover {
  color: #1374f2;
  background-color: white;
}
.margin-top {
  margin-top: -220px;
}
.con1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  gap: 27px;
  color: white;
  width: 500px;
  height: 195px;

  background: #1374f2;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.con1head {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-left: 30px;
}
.con1sub {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-left: 30px;
}
.con2 {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 30px;
  gap: 20px;

  width: 240px;
  height: 195px;

  background: #ffffff;
  border-right: 1px solid #e9e9e9;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}
.conhead {
  height: 195px;
  width: 240px;
  left: 500px;
  top: 0px;
  border-radius: 0px;
  padding: 24px 30px 24px 30px;

  height: 18px;

  font-weight: 750;
  font-size: 18px;
  line-height: 18px;
}
.consub {
  left: 500px;
  top: 0px;
  border-radius: 0px;
  padding: 0px 30px 24px 30px;

  height: 54px;
  width: 207px;
  left: 30px;
  top: 69.5px;

  font-weight: 350;
  font-size: 16px;
  line-height: 18px;

  text-transform: capitalize;

  color: #808080;
}
.arrow {
  left: 500px;
  top: 0px;
  border-radius: 0px;
  padding: 2px 12px 2px 30px;
}
.con3 {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 30px;
  gap: 20px;
  width: 240px;
  height: 195px;
  background: #ffffff;
  border-right: 1px solid #e9e9e9;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 1;
}
.con4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 30px;
  gap: 20px;
  width: 240px;
  height: 195px;
  background: #ffffff;
  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 1;
}
.Rightimg {
  object-fit: cover;
  width: auto;
  overflow: hidden;
  height: 500px;
  width: 603px;
}
.Shipper {
  margin-top: 100px;
}
.shippersub {
  width: 485px;

  color: #6a6b6b;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.shipperhead {
  width: 497px;
  height: 72px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}
.button2 {
  width: 139.5px;
  height: 45px;
  margin-top: 60px;
  color: white;
  background: #1374f2;
  border-radius: 6px;
  border-color: white;
}

.Lorem {
  font-family: "Avenir Next LT Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}
.whatwe {
  margin-top: 40px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}
.ll {
  margin-bottom: 40px;
  font-family: "Avenir Next LT Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.tick img {
  width: 20px;
  height: 20px;
}

.tic {
  font-family: "Avenir Next LT Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

.loorem {
  font-family: "Avenir Next LT Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  text-transform: capitalize;

  color: #6a6b6b;
}
.pilot {
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 750;
  font-size: 18px;
}
.bbuuttoonn {
  margin-top: 30px;
  box-sizing: border-box;

  width: 140px;
  height: 45px;
  left: 532px;
  top: 3589px;

  background: #ffffff;
  border: 1px solid #2c2c2d;
  border-radius: 6px;
}
.bbuuttoonn:hover {
  color: #1374f2;
  border: 1px solid #1374f2;
}
.insidecon {
  height: 550px;
  margin-bottom: -100px;
  display: flex;
  align-items: center;
}
.itssub {
  font-family: "Avenir LT Pro";
  font-style: normal;
  font-weight: 750;
  font-size: 18px;
  line-height: 18px;
}
.belowsub {
  width: 200px;
  height: 60px;
  font-family: "Avenir Next LT Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  text-align: center;
  text-transform: capitalize;
}
.imageleft img {
  width: 450px;
  text-align: center !important;
}
.imgwidthh img {
  width: 180px;
  height: 180px;
}
.imgwidth img {
  width: 180px;
  height: 180px;
}
.imgwidth::after {
  width: 500px;
  content: url(rightArrow.png);
  width: 20px;
  height: 20px;
  position: relative;
  left: 250px;
  bottom: 200px;
}
.bottlogo {
  width: 150px;
}
.anewtext {
  width: 529px;
  height: 80px;

  font-family: "Avenir Next LT Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.privacy {
  width: 258px;
  height: 19px;
  left: 210px;
  bottom: 70px;

  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.mennu ul {
  list-style: none;
}
.mennu li {
  display: inline;
  margin: 10px;
}
a {
  text-decoration: none !important;
}
.bbuuttoonn {
  margin-bottom: 50px;
}
.imgg img {
  width: 350px;
}

@media screen and (max-width: 600px) {
  .imgwidth::after {
    width: 500px;
    content: url(rightArrow.png);
    width: 20px;
    height: 20px;
    position: relative;
    left: 80px;
    bottom: 5px;
    display: inline-block;
    transform: rotate(90deg);
    margin: 20px;
  }
  .pilot {
    text-align: center !important;
  }
  .con1head {
    font-size: 15px;
    line-height: 24px;
  }
  .con1sub {
    font-weight: 600;
    font-size: 20px;
  }
  .con1 {
    width: 100px;
    height: 120px;
    gap: 4px;
  }
  .ttoopp img {
    width: 300px;
  }
  .imgwidth {
    text-align: center !important;
  }
  .imgwidthh {
    text-align: center !important;
  }
  .belowsub {
    width: auto;
  }
  .imgwidth::after {
    left: 5px;
  }

  .ttoopp {
    text-align: center !important;
  }
  .imgg {
    text-align: center !important;
  }
  .shipperhead {
    text-align: center !important;
  }
  .shippersub {
    text-align: center !important;
    width: auto !important;
  }
  .imggg img {
    width: 300px;
  }
  .shipperhead {
    width: auto;
  }

  .Rightimg img {
    width: 100%;
    height: 500px;
  }
  .imageleft img {
    width: 380px;
  }
  .imgg img {
    width: 350px;
  }
  .subhead {
    margin-top: 200px;
    font-weight: 700;
    font-size: 20px;
  }
  .subbanner {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
  }
  .mg-top {
    margin-top: 0px;
  }
  .button1 {
    box-sizing: border-box;
    background-color: transparent;
    color: white;
    font-weight: 700;
    font-size: 8px;

    width: auto;
    height: auto;
    margin-left: 10px;

    border: 1px solid #ffffff;
    border-radius: 6px;
    margin-bottom: 200px;
  }
  .banner {
    height: 160px;
    width: 100%;
  }
  .mediaheadder {
    text-align: center !important;
  }
}
